* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fas {
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.task-list__title {
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.task-list__item{
  border: 1px solid black;
  margin-bottom: 15px;
  width: 100%;
  font-size: 25px;
  color: black;
  padding: 5px;
}

.task-list__input {
  height: 40px;
  width: 100%;
  background-color: lightgray;
  font-size: 20px;
  padding: 0 20px;
  outline: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.item span {
  font-size: 16px;
  color: darkgreen;
}

.item__description {
  color: darkgoldenrod;
  font-size: 22px;
} 

.item__checkbox{
  display: none;
}

.task-list__input-btn {
  margin-left: auto;
  border: none;
  background-color: yellow;
  max-height: 50px;
  width: 50px;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}

.task-list__input-btn:hover {
  font-size: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-container {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.item__checkbox + label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;    
}

.item__checkbox + label:before{
  content: '\2713';
  display: inline-block;
  color: black;
  font-size: 30px;
  line-height: 30px;
  transform: scale(0);
  /* transition: 0.3s; */
}

.item__checkbox:checked + label:before{    
  transform: scale(1);
}

.item__icons-container {
  margin-left: auto;
}

.item__content {
  margin-left: 20px;
  padding: 0 10px;
}

.item__delete {
  font-size: 30px;
}

.item__edit {
  font-size: 25px;
  margin-right: 20px;
}

.task-list__warning-message {
  color: red;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: -10px;
}

.wrap-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .1);
}

.modal {
  position: fixed;
  background-color: black;
  width: 40%;
  min-width: 500px;
  height: 80%;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.modal__text {
  color: yellow;
  margin-bottom: 10px;
  font-size: 20px;
}

.modal__input {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 0, .5);
  width: 100%;
  height: 30px;
  color: white;
  font-size: 16px;
  padding: 0 10px;
}

.modal__input::placeholder{
  color: rgba(255, 255, 255, .5);
}

.modal__field-container {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

.btn-container__item {
  min-width: 150px;
  min-height: 30px;
  padding: 5px;
  background-color: yellow;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: .3s;
}

.btn-container__item:hover {
  box-shadow: 0 0 10px rgba(255,255,255);
}

.filter__buttons {
  display: flex;
}

.filter__btn {
  text-transform: capitalize;
  padding: 0 10px;
  border-left: 1px solid black;
  font-size: 20px;
  color: goldenrod;
}

.filter__btn:hover {
  color: black;
  cursor: pointer;
}

.filter__btn:first-child {
  padding-left: 0;
  border: none;
}

.sort {
  position: relative;
}

.sort-icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.sort-half {
  font-size: 40px;
}

.sort-half:hover {
  color: white;
}

.sort-half--up {
  transform: rotate(180deg);
}

.sort__button {
  font-size: 40px;
  padding: 6px;
}

.sort__buttons {
  position: absolute;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  align-items: center;
  justify-content: center;
  top: -130px;
}

.sort__btn {
  padding: 10px;
  font-size: 14px;
  transition: .3s;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.sort__btn:hover {
  background-color: gray;
}

#sortDate,
#sortText {
  flex-basis: 40%;
}

.sort__btn--search {
  width: 100%;
}

#search {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.warning-message {
  text-align: center;
  margin-top: 200px;
  font-size: 50px;
  color: red;
  opacity: 0;
  /* transition: 3s; */
}

/* should be always in bottom */
.display--none {
  display: none;
}

.overflow--hidden {
  overflow: hidden;
}

.task-list__input--warning {
  border: 2px solid red;
}

.item--done {
  background-color: lightgrey;
}

.item__content--done p {
  text-decoration: line-through;
}

.warning-message--show {
  animation: message 3s;
}

@keyframes message {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.filter__btn--active {
  color: black;
  cursor: pointer;
}
